In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("F:\\IMDB Dataset.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# step 1 Lowercasing

In [7]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [8]:
df['review']=df['review'].str.lower()

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step2 removing html tags

In [10]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [13]:
text = "<html><body><p> Movie1 </p><p> Click here to <a href = 'http://google.com'>download</a></p> "

In [14]:
remove_html_tags(text)

' Movie1  Click here to download\xa0'

In [17]:
df['review']=df['review'].apply(remove_html_tags)

In [18]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [21]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [22]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text2 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text3 = 'Google search here www.google.com'

text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [23]:
remove_url(text4)

'For notebook click '

# step 4 Remove Punctuation

In [24]:
import string
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [25]:
exclude=string.punctuation

In [26]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [27]:
text1='string. with. Punctuation?'

In [28]:
remove_punc(text1)

'string with Punctuation'

In [29]:
df['review']=df['review'].apply(remove_punc)

In [30]:
df1=pd.read_csv("F:\\twitter_sentiment_analysis.csv")

In [31]:
df1.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [32]:
import string

exclude=string.punctuation

In [33]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [38]:
df1['tweet']=df1['tweet'].apply(remove_punc)

In [39]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step 5 chatword treatment

In [40]:
chat_words={'u2':'you too','BBL':'Be Back Later','GAL':'Get A Life'}

In [41]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get A Life'}

In [47]:
def chat_conversation(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words : 
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return "".join(new_text)

In [48]:
chat_conversation('GAL')

'Get A Life'

# step - 6 Spelling Correction

In [49]:
from textblob import TextBlob

In [50]:
incorrect_text="ceertain conditionas seveal ggenerations aree modified in the saame maner."

textBlb=TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions several generations are modified in the same manner.'

# step 7 Removing StepWords

In [53]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\DIVYANSHU
[nltk_data]     YADAV\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [54]:
STOPWORDS = set(stopwords.words('english'))

In [56]:
# manully works
def remove_stopwords(text):
    new_text = []

    for word in text.split():

        if word in set(stopwords.words('english')):
            new_text.append("")

        else :
            new_text.append(word)

    x = new_text[:]
    new_text.clear()
    return "".join(x)

remove_stopwords('probably my all-time favorite movie , a story of selflessness ,sacrifice and dedication to a noble cause.')

'probablyall-timefavoritemovie,storyselflessness,sacrificededicationnoblecause.'

# tokenization

In [57]:
sent1='I am going to delhi'
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [58]:
sent2="I am going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [59]:
sent3='I am going to delhi!'
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [64]:
import re 
sent3="I am going to delhi"
tokens=re.findall("[\w']+",sent3)
sent3

'I am going to delhi'

# 1. NLTK

In [65]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [67]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\DIVYANSHU
[nltk_data]     YADAV\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [68]:
sent1='I am going to delhi!'
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'delhi', '!']

In [69]:
sent2='I have a Ph. D. in A.I.'
sent3="We 're here to help! mail us at nks@gmail.com"
sent4='A 5km ride cost $10.50'

In [70]:
word_tokenize(sent2)

['I', 'have', 'a', 'Ph', '.', 'D.', 'in', 'A.I', '.']

In [71]:
word_tokenize(sent3)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [72]:
word_tokenize(sent4)

['A', '5km', 'ride', 'cost', '$', '10.50']

# stemming

In [73]:
# 1. Inflection == > "In grammar , inflection is the modification of a word
# to express different grametical categories such as tense , case , voice , aspect , person ,
# humber , gender and mood ."

# 2. Stemming == > Stemming is the process of reducing inflection in words to their root forms
# such as mapping a group of words to the same stem even if the stem itself is not valid
# word in the Language .

In [74]:
from nltk.stem.porter import PorterStemmer

In [75]:
ps=PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [76]:
simple="walk walks walking walked"
stem_words(simple)

'walk walk walk walk'

In [77]:
text='probably my alltime favourite movie a story of selflessness sacrifice and dedication'
print(text)

probably my alltime favourite movie a story of selflessness sacrifice and dedication

In [78]:
stem_words(text)

'probabl my alltim favourit movi a stori of selfless sacrific and dedic'

In [79]:
# Lemmatization , unlike Stemming , reduces the inflected words properly ensuring that
# the root word belongs to the Language .
# In Lemitization root word is called Lemma . I
# Alemma (plural Lemmas or Lemmata) is the canonical form , dictionary form , or citation form
# of a set of words .

# Stemming works on beehalf algorithm , so it is fast and lemmatization is using wordnet package ,
# so it's slow.

In [83]:
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\DIVYANSHU
[nltk_data]     YADAV\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [84]:
wordnet_lemmatizer=WordNetLemmatizer()

In [85]:
sentence = 'He was running and eating at the same time . He has bad habbit of swimming after'
punctuation = ' ?:!. ,;'
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    sentence_words.remove(word)
sentence_words
print("{0:20}{1:20}".format("Word" , "Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word , wordnet_lemmatizer.lemmatize(word)))

Word                Lemma
was                 wa
and                 and
at                  at
same                same
.                   .
has                 ha
habbit              habbit
swimming            swimming