In [3]:
a=int(input("enter the value of a : "))
b=int(input("enter the value of b : "))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the value of a : 2
enter the value of b : 3
3 2

In [26]:
n = int(input("enter the number :"))
print("Given number", n)
while n > 0:
    digit = n % 10
    n = n // 10
    print(digit, end=" ")

enter the number :6778
Given number 6778
8 7 7 6

In [8]:
a=int(input("enter the number a : "))
b=int(input("enter the number b : "))
c=int(input("enter the number c : "))
sum=(a+b+c)
print(sum)

enter the number a : 1
enter the number b : 2
enter the number c : 3
6

In [32]:
a=int(input("enter the number a : "))
b=int(input("enter the number b : "))
c=int(input("enter the number c : "))
square=(a**2+b**2+c**2)
print(square)

enter the number a : 1
enter the number b : 2
enter the number c : 3
14

In [31]:
num=153
x=num
total=0


while(num>0):
    rem=num%10
    total+=rem**3
    num=num//10
    
    
if(total==x):
    print("armstrong number")
else:
    print("not armstrong number")

armstrong number

In [20]:
num=153
x=num
total=0


while(num>0):
    rem=num%10
    total+=rem**3
    num=num//10
    
    
if(total==x):
    print("narcissist number")
else:
    print("not narcissist number")

narcissist number

In [28]:
x=int(input("enter the number : "))
z = format(x, ".2f")
print("float no.",z)

enter the number : 1234
float no. 1234.00

In [13]:
a=int(input("enter the number :"))
for i in range(1,a+1):
    if a%i==0:
        print(i)

enter the number :12
1
2
3
4
6
12

In [7]:
a=[]
for i in range(0,5):
    val=float(input("enter the values : "))
    a.append(val)
    i+=1
print(a)

enter the values : 1.2
enter the values : 3.4
enter the values : 5.
enter the values : 4
enter the values : 5.6
[1.2, 3.4, 5.0, 4.0, 5.6]

In [24]:
pi=3.14
r=int(input("enter the radius = "))
h=int(input("enter the height = "))
v=pi*r**2*h
print(v)

cost=v*40
print(cost)

enter the radius = 10
enter the height = 1
314.0
12560.0