In [1]:
# Encoding ==> this is the metohd to convert categorical data into numerical data

In [2]:
# 1. LabelEncoding ==> Using this method ,we can convert our target or one dimensional data

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("F:\\covid_toy.csv")

In [5]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [6]:
df=df.dropna()

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb=LabelEncoder()

In [9]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [10]:
df.sample(5)

    age  gender  fever  cough  city  has_covid
38   49       0  101.0      0     1          1
16   69       0  103.0      0     2          1
44   20       1  102.0      1     1          0
75    5       1  102.0      0     2          1
79   48       0  103.0      0     2          1

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc=StandardScaler()

In [14]:
df_sc=sc.fit_transform(df)

In [15]:
# df_sc

In [16]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [17]:
np.round(df.describe(),1)

        age  gender  fever  cough  city  has_covid
count  90.0    90.0   90.0   90.0  90.0       90.0
mean   43.0     0.4  100.8    0.4   1.3        0.4
std    24.7     0.5    2.1    0.5   1.1        0.5
min     5.0     0.0   98.0    0.0   0.0        0.0
25%    19.2     0.0   99.0    0.0   0.0        0.0
50%    45.0     0.0  101.0    0.0   1.0        0.0
75%    65.0     1.0  102.8    1.0   2.0        1.0
max    83.0     1.0  104.0    1.0   3.0        1.0

In [18]:
df1=pd.read_csv("F:\\insurance.csv")

In [19]:
df1.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [21]:
df1=df1.dropna()

In [23]:
df1['sex']=lb.fit_transform(df1['sex'])
df1['smoker']=lb.fit_transform(df1['smoker'])
df1['region']=lb.fit_transform(df1['region'])

In [25]:
df1.sample(5)

     age  sex     bmi  children  smoker  region      charges
850   37    0  30.780         0       1       0  37270.15120
835   42    1  35.970         2       0       2   7160.33030
558   35    0  34.105         3       1       1  39983.42595
991   38    0  27.835         2       0       0   7144.86265
466   60    0  28.700         1       0       3  13224.69300

In [26]:
df1_sc=sc.fit_transform(df1)

In [27]:
df1_new=pd.DataFrame(df1_sc,columns=df1.columns)

In [28]:
np.round(df1.describe(),1)

          age     sex     bmi  children  smoker  region  charges
count  1338.0  1338.0  1338.0    1338.0  1338.0  1338.0   1338.0
mean     39.2     0.5    30.7       1.1     0.2     1.5  13270.4
std      14.0     0.5     6.1       1.2     0.4     1.1  12110.0
min      18.0     0.0    16.0       0.0     0.0     0.0   1121.9
25%      27.0     0.0    26.3       0.0     0.0     1.0   4740.3
50%      39.0     1.0    30.4       1.0     0.0     2.0   9382.0
75%      51.0     1.0    34.7       2.0     0.0     2.0  16639.9
max      64.0     1.0    53.1       5.0     1.0     3.0  63770.4

In [47]:
x=df1.drop(columns={'charges'},axis=1) 
y=df1['charges']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [50]:
from sklearn.preprocessing import MinMaxScaler

In [51]:
mn=MinMaxScaler()

In [52]:
x_train_mn=mn.fit_transform(x_train)

In [53]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [54]:
np.round(x_train.describe(),1)

          age     sex     bmi  children  smoker  region
count  1070.0  1070.0  1070.0    1070.0  1070.0  1070.0
mean     39.4     0.5    30.6       1.1     0.2     1.5
std      14.1     0.5     6.0       1.2     0.4     1.1
min      18.0     0.0    16.0       0.0     0.0     0.0
25%      27.0     0.0    26.2       0.0     0.0     1.0
50%      39.5     1.0    30.2       1.0     0.0     2.0
75%      51.0     1.0    34.5       2.0     0.0     2.0
max      64.0     1.0    53.1       5.0     1.0     3.0

In [55]:
np.round(x_train_new.describe(),1)

          age     sex     bmi  children  smoker  region
count  1070.0  1070.0  1070.0    1070.0  1070.0  1070.0
mean      0.5     0.5     0.4       0.2     0.2     0.5
std       0.3     0.5     0.2       0.2     0.4     0.4
min       0.0     0.0     0.0       0.0     0.0     0.0
25%       0.2     0.0     0.3       0.0     0.0     0.3
50%       0.5     1.0     0.4       0.2     0.0     0.7
75%       0.7     1.0     0.5       0.4     0.0     0.7
max       1.0     1.0     1.0       1.0     1.0     1.0

In [56]:
df2=pd.read_csv("F:\\tips.csv")

In [58]:
df2.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [60]:
df2=df2.dropna()

In [63]:
df2['sex']=lb.fit_transform(df2['sex'])
df2['smoker']=lb.fit_transform(df2['smoker'])
df2['day']=lb.fit_transform(df2['day'])
df2['time']=lb.fit_transform(df2['time'])

In [64]:
df2.sample(5)

     total_bill   tip  sex  smoker  day  time  size
6          8.77  2.00    1       0    2     0     2
44        30.40  5.60    1       0    2     0     4
87        18.28  4.00    1       0    3     1     2
119       24.08  2.92    0       0    3     1     4
14        14.83  3.02    0       0    2     0     2

In [65]:
df2_sc=sc.fit_transform(df2)

In [66]:
df2_new=pd.DataFrame(df2_sc,columns=df2.columns)

In [67]:
np.round(df2.describe(),1)

       total_bill    tip    sex  smoker    day   time   size
count       244.0  244.0  244.0   244.0  244.0  244.0  244.0
mean         19.8    3.0    0.6     0.4    1.7    0.3    2.6
std           8.9    1.4    0.5     0.5    0.9    0.4    1.0
min           3.1    1.0    0.0     0.0    0.0    0.0    1.0
25%          13.3    2.0    0.0     0.0    1.0    0.0    2.0
50%          17.8    2.9    1.0     0.0    2.0    0.0    2.0
75%          24.1    3.6    1.0     1.0    3.0    1.0    3.0
max          50.8   10.0    1.0     1.0    3.0    1.0    6.0

In [68]:
x=df2.drop(columns={'size'},axis=1) 
y=df2['size']

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [75]:
x_train_mn=mn.fit_transform(x_train)

In [76]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [77]:
np.round(x_train.describe(),1)

       total_bill    tip    sex  smoker    day   time
count       195.0  195.0  195.0   195.0  195.0  195.0
mean         20.2    3.1    0.7     0.4    1.7    0.3
std           8.8    1.4    0.5     0.5    0.9    0.4
min           5.8    1.0    0.0     0.0    0.0    0.0
25%          13.7    2.0    0.0     0.0    1.0    0.0
50%          17.9    3.0    1.0     0.0    2.0    0.0
75%          24.9    3.7    1.0     1.0    2.0    1.0
max          50.8   10.0    1.0     1.0    3.0    1.0

In [78]:
np.round(x_train_new.describe(),1)

       total_bill    tip    sex  smoker    day   time
count       195.0  195.0  195.0   195.0  195.0  195.0
mean          0.3    0.2    0.7     0.4    0.6    0.3
std           0.2    0.2    0.5     0.5    0.3    0.4
min           0.0    0.0    0.0     0.0    0.0    0.0
25%           0.2    0.1    0.0     0.0    0.3    0.0
50%           0.3    0.2    1.0     0.0    0.7    0.0
75%           0.4    0.3    1.0     1.0    0.7    1.0
max           1.0    1.0    1.0     1.0    1.0    1.0

# 2. OrdinalEncoder

In [79]:
df=pd.read_csv("F:\\covid_toy.csv")

In [81]:
df=df.drop(columns=['age','fever'])

In [82]:
df.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [83]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [84]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [85]:
from sklearn.preprocessing import OrdinalEncoder

In [91]:
oe=OrdinalEncoder(categories=[['Male','Female'],['Mild','Strong'],['Kolkata','Bangalore','Delhi','Mumbai'],['Yes','No']])

In [92]:
oe

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [93]:
oe.fit(df)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [94]:
df_new=oe.transform(df)

In [95]:
oe.categories_

[array(['Male', 'Female'], dtype=object),
 array(['Mild', 'Strong'], dtype=object),
 array(['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'], dtype=object),
 array(['Yes', 'No'], dtype=object)]

In [96]:
df=pd.DataFrame(df_new,columns=df.columns)

In [97]:
df.sample(7)

    gender  cough  city  has_covid
80     1.0    0.0   3.0        0.0
12     1.0    1.0   0.0        1.0
86     0.0    0.0   1.0        0.0
26     1.0    0.0   0.0        0.0
47     1.0    0.0   1.0        1.0
64     0.0    0.0   3.0        1.0
67     0.0    0.0   1.0        1.0