In [1]:
# Decision Tree Algorithm ====> Supervised ML Algorithm ====> 

# Target data ===> 
# Categorical ====> DecisionTreeClassifier() 
# Numerical ===> DecisionTreeRegressor

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df = df.dropna()

In [6]:
from sklearn.preprocessing import LabelEncoder

C:\Users\saurabh\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
lb = LabelEncoder()

In [8]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [9]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [10]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
dt = DecisionTreeClassifier()

In [16]:
dt.fit(x_train , y_train)

DecisionTreeClassifier()

In [17]:
y_pred = dt.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_test , y_pred)

0.4444444444444444

In [20]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\tips.csv")

In [21]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [24]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [25]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [28]:
from sklearn.tree import DecisionTreeRegressor

In [29]:
dt = DecisionTreeRegressor()

In [30]:
dt.fit(x_train , y_train)

DecisionTreeRegressor()

In [31]:
y_pred = dt.predict(x_test)

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test , y_pred)

0.5251556176741401